.vscode
.idea
node_modules
credentials.json
translation.json
*.pyc
*.aux
*.log
*.out
*.synctex.gz
*.suo
*__pycache__
*.idea
*.ipynb_checkpoints
*.pickle
*.npy
*.blg
*.bbl
*.bcf
*.toc
*.wav
*.sh
RTVC_CPU/encoder/saved_models/*
RTVC_CPU/synthesizer/saved_models/*
RTVC_CPU/vocoder/saved_models/*