.vscode
.idea
node_modules
credentials.json
translation.json
*.pyc
*.aux
*.log
*.out
*.synctex.gz
*.suo
*__pycache__
*.idea
*.ipynb_checkpoints
*.pickle
*.npy
*.blg
*.bbl
*.bcf
*.toc
output/*.wav
text_to_speech/encoder/saved_models/*
text_to_speech/synthesizer/saved_models/*
text_to_speech/vocoder/saved_models/*
*.DS_Storegit
out_audio.flac
new*.mp4
